doctype html
html(lang="en",ng-app="main")
    head
        link(rel="stylesheet", href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
        link(rel="stylesheet", href='/styles/style.css')
        script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
        script(type="text/javascript", src="http://malsup.github.com/jquery.form.js")
        script(type="text/javascript", src="/js/socket.io.js")
        script(type="text/javascript", src="/js/sails.io.js")
        script(type="text/javascript", src="js/app.js")

        script(type="text/javascript", src="js/main.js")
        script(type="text/javascript", src="js/uploadFile.js")

        title Обновление данных
    body(class="container")
        div(class="page-header")
            h2 Обновление задолженности в слое рекламные конструкции
        ol(class="breadcrumb")
            li(id="uploadFile", class="active") 1. Загрузка файла
            li(id="fileLoaded") 2. Файл загружен
            li(id="prepReport") 3. Предварительный отчет
            li(id="dataStartUpdate") 4. Обновление данных
            li(id="dataUpdated") 5. Данные обновлены
            li(id="updateReport") 6. Отчет
        //1. id="uploadFilePanel"
        div(class="panel panel-default paneHide", id="uploadFilePanel")
            div(class="panel-heading") Загрузка файла
            div(class="panel-body")
                form(action="debt/prepare", method="post", id="form", name="form", enctype="multipart/form-data")
                    div(class="input-group")
                        span(class="input-group-addon", style="width: 150px;") Файл с новыми данными о задолженности (в формате *.xls)
                        input(class="form-control", type="file",id="file", name="file", accept="application/vnd.ms-excel")
                        div(class="input-group-btn")
                            button(class="btn btn-default", type="submit") Загрузить

                            img(src="images/ajax-loader.gif", id="loading-img", style="display:none;", alt="Please Wait")
                    div(id="progressbox")
                        div(id="progressbar")
                        div(id="statustxt") 0%
                    div(id="output")
        //2. id="fileLoaded"
        div(class="panel panel-default paneHide", id="fileLoadedPanel")
            div(class="panel-heading") Файл загружен
            div(class="panel-body")
                div Проверка связи со слоем..
                div(id="outputfileLoaded")
        //3. id="prepReportPanel"
        div(class="panel panel-default paneHide", id="prepReportPanel")
            div(class="panel-heading")
                div(style="float:left; line-height:32px;") Предварительный отчет
                button(class="btn btn-primary", style="float:right; display:block;",  type="button", onclick="updateDebts()") Обновить задолженность в слое
                div(class="clear")
            div(class="panel-body")
                ul(class="list-group")
                    li(class="list-group-item list-group-item-info")
                        span Поиск задолженности(из файла) для рекламных конструкций (из слоя)
                    li(class="list-group-item")
                        span Общее кол-во рекламных конструкций в слое
                        div(class="badge")
                            div(id="FsTotalQuantity")
                        div(class="clear")
                    li(class="list-group-item")
                        span Для них найдено соответствующих записей в файле с задолженностью
                        div(class="badge")
                            div(id="FsUpdateQuantity")
                        div(class="clear")
                    li(class="list-group-item")
                        span Список объектов в слое (Рекламные конструкции) для которых найдены соответствующие записи с задолженностью в файле:
                        div(id="FsFoundObjList")
                    li(class="list-group-item")
                        span Количество объектов в слое (Рекламные конструкции) для которых не найдено записей с задолженностью в файле
                        div(class="badge")
                            span(id="FsMissQuantity")
                        div(class="clear")
                    li(class="list-group-item")
                        span Список объектов в слое (Рекламные конструкции) для которых не найдено записей с задолженностью в файле:
                        div(id="FsMissObjList")
                ul(class="list-group")
                    li(class="list-group-item list-group-item-info")
                        span Справочно: проверка наличия объектов в слое (Рекламные контструкции) для записей в файле с задолженностью
                    li(class="list-group-item")
                        span Общее кол-во записей о задолженности в файле
                        div(class="badge")
                            span(id="DebtsTotalQuantity")
                        div(class="clear")
                    li(class="list-group-item")
                        span Из них записи для которых найдены соответствующие объекты в слое
                        div(class="badge")
                            span(id="DebtsUpdateQuantity")
                        div(class="clear")
                    li(class="list-group-item")
                        span Список повторяющихся записей с задолженностью в файле для которых найдены соответствующие объекты в слое  ("СНР. объекта аренды": [количество повторений]):
                        div(id="DebtsFoundObjList")
                    li(class="list-group-item")
                        span Из них записи для которых не найдены соответствующие объекты в слое
                        div(class="badge")
                            span(id="DebtsMissQuantity")
                        div(class="clear")
                    li(class="list-group-item")
                        span Список записей с задолженностью в файле для которых не найдены соответствующие объекты в слое (Рекламные конструкции):
                        div(id="DebtsMissObjList")
        //4. id="dataStartUpdatePanel"
        div(class="panel panel-default paneHide", id="dataStartUpdatePanel")
            div(class="panel-heading") Обновление данных
            div(class="panel-body")
                div(id="dataStartUpdateOutput")
        //6. id="updateReport"
        div(class="panel panel-default paneHide", id="updateReportPanel")
            div(class="panel-heading")
                div(style="float:left; line-height:32px;") Отчет: Результаты обновления задолженности в рекламных конструкциях
                // button(class="btn btn-primary", style="float:right; display:block;",  type="button", onclick="getUpdateReportXls()") отчет в xls
                a(id="reportXls", style="float:right; display:block;") отчет в xls
                div(class="clear")
            div(class="panel-body")
                ul(class="list-group")
                    li(class="list-group-item list-group-item-info")
                        div Поиск задолженности(из файла) для рекламных конструкций (из слоя)
                    li(class="list-group-item")
                        span Общее кол-во рекламных конструкций в слое
                        span(class="badge")
                            span(id="updateFsTotalQuantity")
                        div(class="clear")
                    li(class="list-group-item")
                        span Для них найдено соответствующих записей в файле с задолженностью
                        span(class="badge")
                            span(id="updateFsFoundsQuantity")
                        div(class="clear")
                    li(class="list-group-item")
                        span Из них выполнено обновлений
                        span(class="badge")
                            span(id="updateFsUpdated")
                        div(class="clear")
                    li(class="list-group-item")
                        span Не выполнено
                        span(class="badge")
                            span(id="updateFsFoundsWithError")
                        div(class="clear")
                    li(class="list-group-item")
                        span Количество объектов в слое (Рекламные конструкции) для которых не найдено записей с задолженностью в файле
                        span(class="badge")
                            span(id="updateFsMissQuantity")
                        div(class="clear")
                    li(class="list-group-item")
                        span Список объектов в слое (Рекламные конструкции) для которых не найдено записей с задолженностью в файле:
                        div(id="updateFsMissObjList")
                ul(class="list-group")
                    li(class="list-group-item list-group-item-info")
                        span Справочно: проверка наличия объектов в слое (Рекламные контструкции) для записей в файле с задолженностью
                    li(class="list-group-item")
                        span Общее кол-во записей о задолженности в файле
                        span(class="badge")
                            span(id="updateDebtsTotalQuantity")
                        div(class="clear")
                    li(class="list-group-item")
                        span Из них записи для которых найдены соответствующие объекты в слое
                        span(class="badge")
                            span(id="updateDebtsUpdateQuantity")
                        div(class="clear")
                    li(class="list-group-item")
                        span Из них записи для которых не найдены соответствующие объекты в слое
                        span(class="badge")
                            span(id="updateDebtsMissQuantity")
                        div(class="clear")
                    li(class="list-group-item")
                        span Список записей с задолженностью в файле для которых не найдены соответствующие объекты в слое (Рекламные конструкции):
                        div(id="updateDebtsMissObjList")