#output{
    padding: 5px;
    font-size: 12px;
}
/* prograss bar */
#progressbox {
    border: 1px solid #7bb0ff;
    padding: 1px;
    position: relative;
    width:100%;
    border-radius: 3px;
    margin-top: 10px;
    display:none;

}
#progressbar {
    height:20px;
    border-radius: 3px;
    background-color: #5651ff;
    width:1%;
}
#statustxt {
    top:3px;
    left:50%;
    position:absolute;
    display:inline-block;
    color: #2d1eff;
}
.wrongMessage {
    color: #EE5757;
    text-align: center;
    font-size: 14px;
}

.list-group {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin: 2px;
}